.overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 10;
}

.sidebar {
    @include transition(all .5s);
    background: #fdfdfd;
    width: 225px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh);
    position: fixed !important;
    top: 0px;
    left: 0;
    @include box-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
    z-index: 11 !important;

    .sidebar-brand {
        position: relative;
        height: 60px;
        span {
            display: inline-flex;
            vertical-align: middle;
            width: 100%;
            padding: 20px 15px;
            text-decoration: none;
            font-weight: bold;
        }
    }

    .menu {
        position: relative;
        overflow-y: auto;
        height: 85vh;

        .list {
            list-style: none;
            padding-left: 0;

            li {
                &.active {
                    > :first-child {
                        span {
                            font-weight: bold;
                        }
                    }
                }
            }

            i.material-icons {
                margin-top: 4px;
                color: #555;
            }

            .menu-toggle {
                &:after, &:before {
                    position: absolute;
                    top: calc(50% - 14px);
                    right: 17px;
                    font-size: 19px;
                    @include transform(scale(0));
                    @include transition(all .3s);
                }

                &:before {
                    content: '+';
                    @include transform(scale(1));
                }

                &:after {
                    content: '\2013';
                    @include transform(scale(0));
                }
            }

            .menu-toggle.toggled {
                &:before {
                    @include transform(scale(0));
                }

                &:after {
                    @include transform(scale(1));
                }
            }

            a {
                color: #747474;
                position: relative;
                display: inline-flex;
                vertical-align: middle;
                width: 100%;
                padding: 10px 13px;
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none !important;
                }

                small {
                    position: absolute;
                    top: calc(50% - 7.5px);
                    right: 15px;
                }

                span {
                    margin: 7px 0 7px 12px;
                    color: #333;
                    font-weight: bold;
                    font-size: 14px;
                    overflow: hidden;
                }
            }

            .ml-menu {
                list-style: none;
                display: none;
                padding-left: 0;

                span {
                    font-weight: normal;
                    font-size: 14px;
                    margin: 3px 0 1px 6px;
                }

                li {
                    a {
                        padding-left: 55px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                    }

                    &.active {
                        a.toggled:not(.menu-toggle) {
                            font-weight: 600;
                            margin-left: 5px;

                            &:before {
                                content: '\E315';
                                font-family: 'Material Icons';
                                position: relative;
                                font-size: 21px;
                                height: 20px;
                                top: -5px;
                                right: 0px;
                            }
                        }
                    }

                    .ml-menu {
                        li {
                            a {
                                padding-left: 80px;
                            }
                        }

                        .ml-menu {
                            li {
                                a {
                                    padding-left: 95px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .left-sidebar-lower {
        width: 100%;
        position: absolute;
        background: #fdfdfd;
        border-top: 1px solid #c5c5c5;
        text-decoration: none;    
        bottom: 0;  

        .userinfo-wrapper {   
            //background: red; 
            
            .user-info-brief {
                text-decoration: none;
                color: #555;
                margin: 8px 0px 8px 8px;
                padding: 8px;
                box-sizing: border-box; 
                border-radius: 8px;
                    i {
                        padding-right: 5px;
                    }
                    span {
                        font-weight: bold;
                    }
                    &:hover {
                        background: #e0e0e0;
                    }   
            } 

            .settings-gear {
                margin: 8px 8px 8px 0px;
                    i{
                        padding: 8px;
                        color: #555;
                        border-radius: 8px;
                    &:hover {
                        background: #e0e0e0;
                    }   
                }
            }
        
            .dropdown-menu {
                .dropdown-item {
                    display:inline-flex;
                    i {
                        transform: scale(0.9);
                        margin-right: 10px;
                    }
                }
            }

        }  
    }
}