//Colors
$colors: (blue: #2196F3, blue-grey: #607D8B) !default;

//Fonts Family
$navbar-font-family: 'Roboto', sans-serif;
$sidebar-font-family: 'Roboto', sans-serif;

//Bootstrap Datepicker
$datepicker-active-color: #009688;
